---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import Banner from '../components/Banner.astro';
import MainPage from '../components/MainPage.astro';
import MiniTitle from '../components/MiniTitle.astro';
import Next from '../components/Icons/Next.astro';
import Prev from '../components/Icons/Prev.astro';
import YTVideo from '../components/YTVideo.astro';

const videos = [
    {
        src: "BcpE8pbG9Nk",
        title: "TRAILER OFICIAL DE #RandomSMP 游뛃 | BanGameStudios"
    },
    {
        src: "-7gS_myLcRU",
        title: "Cinematica Inicial de RandomSMP | BanGameStudios"
    },
    {
        src: "EORvdnrSQYk",
        title: "Teaser de nuestra pr칩xima serie | BanGameStudios"
    },
    {
        src: "rFUqIviVQnY",
        title: "Trailer de presentaci칩n de Un UHC M치s 2 | BanGameStudios"
    },
    {
        src: "yx0pfm-BAB0",
        title: "Cr칠ditos de Un UHC M치s 2 | BanGameStudios"
    }
]

const timeline = [
    {
        date: "2025/2026",
        title: "??? 2",
        desc: "???."
    },
    {
        date: "2025",
        title: "T-- S---- M------",
        desc: "???."
    },
    {
        date: "2025",
        title: "???",
        desc: "???."
    },
    {
        date: "2025",
        title: "T-- A---- B----",
        desc: "???."
    },
    {
        date: "2025",
        title: "游꺝",
        desc: "???."
    },
    {
        date: "Abril 2025",
        title: "TTT",
        desc: "Evento inspirado en el modo de juego TTT (Trouble in Terrorist Town) de Garry's Mod."
    },
    {
        date: "Marzo 2025",
        title: "Un UHC M치s 2",
        desc: "Evento PvP inspirado en la famosa modalidad conocida como UHC pero con grandes adiciones."
    }
]
---

<Layout title="Ban Game Studios" image="/pages/index.webp" desc="Estudio de desarrollo de servidores (eventos o series) de Minecraft Semi-profesionales.">
    <Banner src="banner"/>
    <MainPage class="mb-[60px] text-center">
        <section class="max-w-[500px]">
            <Title>BAN GAME STUDIOS</Title>
            <h2 class="text-[1.2rem] mb-2.5 text-[#555] font-medium">Creando para creadores.</h2>
            <p class=`text-[oklch(0.872_0.01_258.338)] px-4`>Estudio de desarrollo de servidores (eventos o series) de Minecraft Semi-profesionales. <a href="/nosotros/" class="text-white hover:text-[#ccc] transition-colors duration-300 ease">Saber m치s...</a></p>
        </section>
        
        <section class="flex flex-col justify-center items-center mt-10">
            <MiniTitle>Videos destacados</MiniTitle>

            <div class="w-[calc(100vw-20px)] pr-2.5 pl-2.5 max-w-[800px] mt-5 mb-5 overflow-hidden">
                <div id="carousel" class="flex items-center space-x-4 overflow-x-auto scroll-smooth snap-x snap-mandatory">
                    {
                        videos.map((video) => (
                            <div class="w-[370px] snap-start shrink-0 overflow-hidden">
                                <YTVideo url={video.src} title={video.title}/>
                            </div>
                        ))
                    }
                </div>
            </div>

            <div class="flex flex-row gap-2">
                <button id="prev" class="bg-[#333] hover:bg-[#222222] transition-colors duration-300 ease text-white p-2 rounded-full"><Prev class="w-6 h-6"/></button>
                <button id="next" class="bg-[#333] hover:bg-[#222222] transition-colors duration-300 ease text-white p-2 rounded-full"><Next class="w-6 h-6"/></button>
            </div>
        </section>

        <section class="flex flex-col justify-center items-center mt-10">
            <MiniTitle>Agenda 2025</MiniTitle>

            <div class="text-left max-w-[800px] px-5">
                <ol class="relative border-s border-gray-700">                
                    {
                        timeline.map((item) => (
                            <li class="ms-4 mt-5">
                                <div class="absolute w-3 h-3 rounded-full mt-1.5 -start-1.5 border border-gray-900 bg-gray-700"></div>
                                <time class="mb-1 text-sm font-normal leading-none text-gray-500">{item.date}</time>
                                <h3 class="text-lg font-semibold text-white">{item.title}</h3>
                                <p class="text-base font-normal text-gray-400">{item.desc}</p>
                            </li>
                        ))
                    }
                </ol>
            </div>
        </section>
    </MainPage>
</Layout>

<style>
    #carousel::-webkit-scrollbar {
        display: none;
    }
    #carousel {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
</style>

<script>
    init();

    document.addEventListener('astro:after-swap', init);

    function init () {
        const carousel = document.getElementById('carousel');
        const prev = document.getElementById('prev');
        const next = document.getElementById('next');

        if (next == null || prev == null || carousel == null) return;
        
        next.addEventListener('click', () => {
            carousel.scrollBy({ left: 300, behavior: 'smooth' });
        });
        
        prev.addEventListener('click', () => {
            carousel.scrollBy({ left: -300, behavior: 'smooth' });
        });
    }
</script>