---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

const proyectos = (await getCollection('proyectos')).sort((a: { data: { order: number; }; }, b: { data: { order: number; }; }) => {
  const orderA = a.data.order ?? 0;
  const orderB = b.data.order ?? 0;
  return orderA - orderB;
});

const projectPictures = await Promise.all(
  proyectos.map(async (proyecto: { slug: any; data: any; }) => {
      const  { slug } = proyecto
      const image = await import(`../assets/projects/${slug}.webp`);
      return { ...proyecto, avatar: image.default };
    })
);
---

<div class="flex flex-wrap gap-[2rem] justify-center max-w-[1200px] ml-5 mr-5">
  {
    projectPictures.map((proyecto: { slug: any; data: any; avatar: any }) => {
      const  { slug, data, avatar } = proyecto
      const  { title, type, date } = data

      return (
        <article class="flex flex-col text-center items-center bg-[#111] text-white rounded-[10px] p-[1.2rem] pt-0 w-[240px] drop-shadow-[0_0_15px_rgba(42,42,42,0.35)] border-[1.5px] border-[rgba(42,42,42,0.500)] overflow-hidden relative group">
          <Image src={avatar} alt={title} quality="high" class="absolute w-[240px] h-[240px] object-cover opacity-[0.15] transition-opacity duration-1000 z-[-10] blur-[2rem] group-hover:opacity-[0.45]" />
          <a href={`/proyectos/${slug}`}>
            <Image src={avatar} alt={title} quality="high" class="w-[200px] h-[200px] rounded-[10px] object-cover transition-transform duration-300 ease-in-out mt-[1.2rem] hover:scale-[1.05]" transition:name={slug} />
          </a>
          <div class="mt-[8px] p-[8px] text-[1.4rem] font-semibold">{title}</div>
          <p class="text-[#7b7b7b] font-medium">{type} - {date}</p>
        </article>
      )
    })
  }
</div>