---
import { Image } from "astro:assets";

export interface Profile {
  name: string;
  link: string;
  skills: string;
  avatar: string;
}

const { profiles } = Astro.props;

const staffPictures = await Promise.all(
  profiles.map(async (profile: { avatar: any; }) => {
    const image = await import(`../assets/staff/${profile.avatar}.webp`);
    return { ...profile, avatar: image.default };
  })
);
---

<div class="flex justify-center">
  <div class="flex flex-wrap gap-4 justify-center max-w-[1200px] ml-5 mr-5">
    {staffPictures.map((profile) => (
      <div class={`bg-[#111] text-white rounded-[10px] p-4 pt-0 text-center flex flex-col items-center w-[190px] overflow-hidden relative drop-shadow-[0_0_0_rgba(42,42,42,0)] group ${profile.name === "Katto" ? "highlight-border" : ""}`}>
        <Image src={profile.avatar} alt={profile.name} quality="high" class="absolute w-[190px] h-[190px] object-cover opacity-[0.15] transition-opacity duration-1000 z-[-10] blur-[2rem] group-hover:opacity-[0.45]"/>
        <a href={profile.link} target="_blank">
          <Image src={profile.avatar} alt={profile.name} quality="high" class="w-[160px] h-[160px] rounded-[10px] mt-4 object-cover transition-transform duration-300 ease-in-out hover:scale-[1.05]"/>
        </a>
        <div class="mt-[5px] p-[10px] text-[1.2rem] ">{profile.name}</div>
        <div class="text-[0.9rem] text-[#7b7b7b]">{profile.skills}</div>
      </div>
    ))}
  </div>
</div>

<style>
  .highlight-border {
    filter: drop-shadow(0 0 10px rgba(42, 42, 42, 0.35));
    border: 1.5px solid rgba(42, 42, 42, 0.500);
  }
</style>