---
import { ClientRouter } from 'astro:transitions'

import Header from '../components/Header/Header.astro'
import Footer from '../components/Footer/Footer.astro'

export interface Profile {
	title: string;
	desc?: string;
	image?: string;
}

const { title, desc, image } = Astro.props;

import "../styles/global.css";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/icon.svg"/>
		<meta name="generator" content={Astro.generator} />
		
		<title>{title}</title>
		<meta name="title" content={title} />
		<meta name="description" content={desc} />

		<meta property="og:type" content="website" />
		<meta property="og:url" content={'https://bangame.tech' + Astro.url.pathname} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={desc} />
		<meta property="og:image" content={image} />
		<meta property="og:site_name" content="Ban Game Studios" />
		<meta property="og:locale" content="es_ES" />

		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={'https://bangame.tech' + Astro.url.pathname} />
		<meta name="twitter:site" content="@BanGameStudios" />
		<meta name="twitter:creator" content="@SoyKatto1" />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={desc} />
		<meta property="twitter:image" content={image} />

		<ClientRouter/>
	</head>
	<body>
		<div class="header">
			<Header />
		</div>
		<slot />
		<Footer />
	</body>
</html>

<style>
	body {
		margin: 0;
		padding: 0;
		font-family: 'LexendDeca', sans-serif;
		color: white;
		background-color: black;
		display: flex;
        flex-direction: column;
		min-height: 100vh;
	}

	.header {
		padding-bottom: 55px;
	}

	@font-face {
		font-family: 'LexendDeca';
		src: url('/fonts/LexendDeca-VariableFont_wght.ttf') format('truetype');
    	font-weight: normal;
    	font-style: normal;
	}
</style>

<style is:global>
	::-webkit-scrollbar {
		width: 12px;
		background-color: #121212;
		height: 12px;
	}

	::-webkit-scrollbar-thumb {
		background-color: #444;
	}

	::-webkit-scrollbar-thumb:hover {
		background-color: #555;
	}
</style>