---
import Layout from '../../layouts/Layout.astro';
import Title from '../../components/Title.astro';
import { getCollection, render } from 'astro:content';
import YTVideo from '../../components/YTVideo.astro';

export async function getStaticPaths() {
    const proyectos = await getCollection('proyectos');

    return proyectos.map((proyecto) => ({
        params: {id: proyecto.slug },
        props: { proyecto }
    }))
}

const { proyecto } = Astro.props
const { slug, data } = proyecto
const { title, type, date, desc, gallery } = data

const { Content } = await render(proyecto)
---

<Layout title={title} desc={desc} image={`/projects/${slug}.webp`}>
    <div class="flex justify-center flex-col items-center mb-[25px]">
        <div class="flex flex-col items-center">
            <img class="absolute mt-[20px] w-[260px] h-[260px] object-cover opacity-[0.25] justify-center z-[-10] blur-[1rem]" src={`/projects/${slug}.webp`}/>
            <img class="w-[250px] h-[250px] rounded-[10px] object-cover transition-transform duration-300 ease-in-out flex justify-center mt-[25px] group" src={`/projects/${slug}.webp`} transition:name={slug}/>
        </div>
        <div class="mt-[20px]">
            <Title label={title}/>
        </div>
        <div class="p-0 m-0 mt-[10px] text-[1rem] text-[#7b7b7b]">
            {type} - {date}
        </div>
        <div class="p-0 pl-[20px] pr-[20px] mt-[20px] max-w-[800px] prose prose-invert">
            <Content/>
        </div>

        {gallery && (
            <div class="mt-[20px]">
                <Title label="Videos Destacados"/>
            </div>

            <YTVideo url="https://www.youtube.com/watch?v=BcpE8pbG9Nk" title="TRAILER OFICIAL DE #RandomSMP 🚬 | BanGameStudios"/>
            <YTVideo url="https://www.youtube.com/watch?v=-7gS_myLcRU" title="Cinematica Inicial de RandomSMP | BanGameStudios"/>
        )}
    </div>
</Layout>

<style>
    iframe {
        border-radius: 10px;
        object-fit: cover;
        margin-top: 25px;
        width: 462px;
        height: 259px;
        filter: drop-shadow(0 0 20px rgba(42, 42, 42, 0.250));
        border: 1px solid #ffffff3e;
    }
</style>